.priceboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 69%;
    height: 90px;
    margin-left: 350px;
    margin-top: 20px;
    /* padding: 20px; */
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .value, .balances {
    margin: 10px 0;
    text-align: center;
  }
  
  .value h3, .balances h3 {
    font-size: 14px;
    color: #333;
    /* margin-bottom: 8px; */
  }
  
  .value p, .balances p {
    font-size: 24px;
    font-weight: bold;
    color: #27ae60; /* Green color for values */
  }
  
  .balances p {
    font-size: 1.25rem;
    color: #2d3436; /* Darker text for balances */
  }
  
  .buttonContainer {
    display: flex;
    margin-top: 20px;
  }
  
  .button {
    width: 120px;
    padding: 10px 3px;
    background-color: rgba(95, 0, 217, 1); /* Blue background */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
  }

  
  .button:hover {
    background-color: #3498db; /* Lighter blue on hover */
  }
  